$f-r: "Lato-Regular";
$f-l: "Lato-Thin";
$f-b: "Lato-Bold";
$f-h: "Lato-Heavy";
$f-s: "Lato-Semibold";
.button2{
      outline      : none;
      background-color: #fff;
      padding: 17px 42px;
      font-size: 20px;
      color:#d5652c; 
      border-radius: 35px;
      border: 2px solid #d5652c;
      font-family: 'Lato-Regular', sans-serif;
      min-width:240px;
}
.button-mobile{
      border: 2px solid #3c9a00;
      color:#3c9a00;
      outline      : none;
      background-color: #fff;
      padding: 17px 42px;
      font-size: 20px;
      border-radius: 35px;
      font-family: 'Lato-Regular', sans-serif;
      min-width:240px;
  }
	strong{
		font-family: $f-h;
	}
.desctop{
		visibility: hidden;
		position: absolute;
}
.mobile{
		position: relative;
	    margin-top: -390px;
	    margin: auto 0;
}
.wrap-mobile-phone{
	margin-top: 10px;
    margin-left: 63px;
}
.wrap-mobile-logo{
	margin-left: 30px;
}
.mobile-logo{
	max-width: 70%;
	margin-top: 22px; 
	width: 336px;
	height: 63px;
	background-image: url(../img/logo.png);
}
.mobile-phone{
	height: 38px;
	width: 38px; 
	background-image: url(../img/phone-top.png);
	display: inline-block;
}
.mobile-number{
	margin-top: 10px;
	margin-left: 26px;
	position: absolute;
	display: inline-block;
	font-size: 20px;
	font-family: $f-r; 
}
.wrap-button{
	    margin-left: 20px;
	margin-top: 10px;
}
.contentik{
		margin-left: 36px;
		background-image: url(../img/bg-mobile.png); 
		height: 491px;
		background-repeat: no-repeat;
}
.first-m-line{
	margin-top: 15px; 
	font-family: $f-l;
	font-size: 36px;
	margin-left: 10px;
}
.second-m-line{
	margin-top: 15px;
	font-family: $f-l;
	margin-left: 10px;
	font-size: 18px; 
}
.third-m-line{
	margin-top: 15px;
	margin-left: 10px;
	font-family: $f-h;
	font-size: 57px; 
	color: #63990d;
	span{
		position: absolute;
		margin-top: 14px;
		margin-left: 5px;  
		font-size: 20px;
		font-family: $f-l;
		text-transform: uppercase;
	}
}
.fourth-m-line{
	text-align: center;
	margin-left: 20px;
	font-size: 22px;
	font-family: $f-l;
}
.wrap-m-fourth{
	width: 320px;
}
.five-m-line{
	margin-left: 10px;
	font-size: 9px;
	font-family: $f-r;
	margin-left: 5px;
	margin-top: 10px; 
}
.wrap-five{
	margin-left: 10px;
}
.timer-m{
	margin-left: 10px;
	.box{
		display: inline-block;
		width: 62px;
		height: 45px;
		border: 1px solid #b5b5b5;
		border-radius: 12px;
		text-align: center;
		.time{
			font-size: 43px;
			font-family: $f-b; 
		} 
		.time-text{
			margin-top: -5px;
			font-family: 20px;
			font-family: $f-s;  
		}
	}
}
.wrap-m-button{
	margin-top: 20px;
	margin-left: 80px;
}
.crash-mobile-m{
	z-index: -1;
	margin-left: 220px;
	margin-top: 91px;
	position: absolute;
	display: inline-block;
	width: 86px;
	height: 128px; 
	background-image: url(../img//crash-mobile-m.png); 
}
@media only screen and (min-width : 320px) {

}

@media only screen and (min-width : 480px) {
	.mobile{
		margin-left: 20%;
	}
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.mobile{
		visibility: hidden;
		position: absolute;
	}
	.desctop{
		visibility: visible;
		    position: relative;
}
	.top-line{
		height: 60px;
		background-color: #2b2b2b;
	}
	.header{
		background-image: url(../img/bg.png);
		background-repeat: no-repeat;
		background-position: top center;
		min-height: 740px;
		position:relative;
	}
	.wrap-logo{
		//margin-left: -74px;
		margin-top: 35px;
		.logo{
			width: 336px;
			height: 63px;
			background-image: url(../img/logo.png);
		}
	}
	.number-phone{
		margin-top: 45px; 
		.icon-phone{
			height: 38px;
			width: 38px; 
			background-image: url(../img/phone-top.png);
		}
	}
	.wrap-phone{
		min-width: 200px; 
		position: absolute;
		display: inline-block;
		margin: -32px 56px;
		font-size: 20px;
		font-family: "Lato-regular";
	}
	.wrap-button{
		z-index: 10;
		margin-top: 38px;
	}
	.right-sal{
		position: relative;
		display:inline-block;
		z-index: 1;
		float: right;
		width: 525px;
		height: 314px;
		background-image: url(../img/right-sal.png);
	}
	.black-line{
		margin-top: 123px;
		height: 1px;
		background-color: #000; 
	}
	.wrap-top-text{
		margin-top: 30px;
	}
	.first-line{
		margin-left: 400px;
		font-family: $f-l;
		font-size: 60px;
		line-height: 1.5;
		
		strong{
			font-family: $f-b;
		}
	}
	.second-line{
		margin-top: -15px;
		margin-left: 450px; 
		.price{
			font-size: 65px;
			font-family: $f-h;
			color: #63990d;
		}
		.val{
			position: absolute;
			margin-top: 14px;
			margin-left: 5px;  
			font-size: 20px;
			font-family: $f-l;
			text-transform: uppercase; 
		}
	}
	.third-line{
		margin-top: 30px;
		margin-left: 155px;
		font-family: "Lato-Thin";
		text-align: center;
		font-size: 26px;
		strong{
			font-family: $f-b;
		}
	}
	.fourth-line{
		margin-top: 10px;
		margin-left: 514px;
		font-family: $f-s;
		font-size: 14px;  
	}
	.timer{
		margin-left: 500px; 
		.box{
			margin: 6px; 
			display: inline-block;
			width: 90px;
			height: 60px;
			border: 1px solid #b5b5b5;
			border-radius: 12px;
			text-align: center;
			.time{
				font-size: 55px;
				font-family: $f-b; 
			} 
			.time-text{
				margin-top: -5px;
				font-family: 20px;
				font-family: $f-s;  
			}
		}
	}
	.wrap-button-top-text{
		margin-top: 25px;
		margin-left: 516px;
	}
}

@media only screen and (min-width : 1248px) {
}