.clear{
	clear: both;
}

/*==============origin===============*/

.dfcaporigin{
	font-family: "Lato-Thin";
	color: #030000;	
	font-size: 24px; //40
	font-weight: 100;	
	text-align: center;	
	letter-spacing: 0.8px;
	padding-top: 30px; //70
	strong{
		font-family: "Lato-Medium";
		font-weight: 500;
	}
}
.dfcaporigin2{
	color: black;
	font-family: "Lato-Medium";
	font-size: 14px; //18
	font-weight: 500;
	text-align: center;
	// margin: 21px 0 40px 0;
	margin: 11px 0 20px 0;
}


.dftelephoneblock{
	max-width: 945px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #939393;
	margin-bottom: 27px;

}
.dforiginimg{
	max-width: 415px;
	width: 100%;
	display: inline-block;
	// margin-left: -18px;
	vertical-align: top;
	img{
		max-width: 100%;
		height: auto;
	}
}


.dfboxcharacteristics{
	max-width: 320px;
	width: 100%;
	display: inline-block;
	text-align: left;
	padding-top: 5px;
	vertical-align: top;
}
.dfnameproduct{
	color: #030000;
	font-family: "Lato-Thin";
	font-size: 48px;
	font-weight: 100;
	line-height: 72px;	
	letter-spacing: 0.9px;
}
.dfboxchar{
	font-family: "Lato-Regular";
	color: #959595;	
	font-size: 17px;
	font-weight: 400;
	margin: 16px 0 28px 0;
    padding-left: 3px;
    letter-spacing: 0.5px;
}
.dfcap{
	color: black;
	font-family: "Lato-Medium";
	font-size: 18px;
	font-weight: 500;
	padding-left: 5px;
}

.dfboxgigs{
	padding: 15px 0 15px 0px;
	a{
		color: #030000;
		font-family: "Lato-Thin";
		font-size: 18px;
		font-weight: 100;
		line-height: 30px;
		display: inline-block;
		width: 81px;
		text-align: center;
	}
	.dfactivelink{
		border: 1px solid #63990d;
	}
}

.dfboxcolors{
	padding: 25px 0 0 5px;
}
.dfcol1, .dfcol2, .dfcol3, .dfcol4{
	width: 25px;
	height: 25.5px;
	display: inline-block;
	border-radius: 50%;
	background-color: #f29187;
	margin-right: 15px;
}
.dfcol2{
	background-color: #ce9b68;
}
.dfcol3{
	background-color: #cccccc;
}
.dfcol4{
	background-color: #000000;	
}

.dfcol1:focus{
	-webkit-box-shadow: 0px 0px 0px 2px rgba(#f29187,0.5);
	-moz-box-shadow: 0px 0px 0px 2px rgba(#f29187,0.5);
	box-shadow: 0px 0px 0px 2px rgba(#f29187,0.5);
	border: 2px solid #fff;
}
.dfcol2:focus{
	-webkit-box-shadow: 0px 0px 0px 2px rgba(#ce9b68,0.5);
	-moz-box-shadow: 0px 0px 0px 2px rgba(#ce9b68,0.5);
	box-shadow: 0px 0px 0px 2px rgba(#ce9b68,0.5);
	border: 2px solid #fff;
}
.dfcol3:focus{
	-webkit-box-shadow: 0px 0px 0px 2px rgba(#cccccc,0.5);
	-moz-box-shadow: 0px 0px 0px 2px rgba(#cccccc,0.5);
	box-shadow: 0px 0px 0px 2px rgba(#cccccc,0.5);
	border: 2px solid #fff;
}
.dfcol4:focus{
	-webkit-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.5);
	border: 2px solid #fff;
}





.dfpriceblock{
	padding-top: 20px;
	text-align: center;
}
.dfboxprice, .dfboxprice2{
	max-width: 450px;
	width: 100%;
	display: inline-block;
	margin: 2px -9px 0 68px;
	display: none;//////////////
}
.dfoldprice, .dfoldprice2{
	color: #97989e;
	font-family: "Lato-Heavy";
	font-size: 24px;
	font-weight: 800;
	line-height: 15px;
	text-decoration: line-through;
	display: inline-block;
	vertical-align: top;
}
.dfbigprice, .dfbigprice2{
	color: #63990d;
	font-family: "Lato-Heavy";
	font-size: 72px;
	font-weight: 800;
	line-height: 90px;
	display: inline-block;
	vertical-align: bottom;
	margin: 0px 4px 0 10px;
}
.dfrubles{
	color: #030000;
	font-family: "Lato-Thin";
	font-size: 24px;
	font-weight: 100;
	line-height: 55px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
}
.dfboxprice2{
	display: inline-block;
	margin: 24px 0px 0 0px;
}
.dfoldprice2{
	font-size: 15px;
}
.dfbigprice2{
	font-size: 45px;
	line-height: 52px;
}


.dfbutton{
	max-width: 310px;
	width: 100%;
	display: inline-block;
	vertical-align: top;

}

.df-button{
	display: inline-block;
	color: white;
	font-family: "Lato-Medium";
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 22px 30px;
	background-color: #d5652c;
	border-radius: 50px;
}

.dfbottomtxt{
	color: #030000;
	font-family: "Lato-Thin";
	font-size: 11px;
	font-weight: 100;
	line-height: 15px;//52
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0 29px 0;
}




/*==================credo============*/

.dfcredoblock{
	max-width: 945px;
	width: 100%;
	margin: 0 auto;	
	border-bottom: 1px solid #939393;
}


.dfcapcredo{
	text-align: center;
	color: #030000;
	font-family: "Lato-Light";
	font-size: 24px;//40
	font-weight: 300;
	letter-spacing: 0.9px;
	padding: 10px 0 30px 0;
}
.dfimgcredo{
 	text-align: center;
 	margin-bottom: 15px;//75
 	img{
 		display: inline-block;
 		max-width: 100%;
 		height: auto;
 	}
}

.dfcredoleftbox{
	max-width: 430px;
	width: 100%;
	display: inline-block;
	text-align: left;
	margin-right: 0px;//52
	h2{
		color: #63990d;
		font-family:"Lato-Black";
		font-size: 27.3px; //40
		font-weight: 900;
		text-transform: uppercase;
	}
	h3{
		color: #030000;
		font-family: "Lato-Light";
		font-size: 24.6px; //36
		font-weight: 300;		
		padding: 10px 0 15px 0;
    	letter-spacing: 0.9px;
	}
	span{
		color: #757575;
		font-family: "Lato-Light";
		font-size: 19px; //24
		font-weight: 300;
		letter-spacing: 0.6px;
		margin-bottom: 25px;
    	display: inline-block;
	}
}



.dfrightboxform{
	max-width: 335px;
	width: 100%;
	display: inline-block;
	text-align: center;
	.why-input{
		background-color: transparent;
	}
}
.dfsubmit{
	margin: 7px 0 0 0;
	padding: 22px 65px;
}
.df-button{
	border: none;
}

.dfimgbox2{	
	display: none;
	margin: 41px 0 20px 0;   
    padding-left: 122px;
	img{
		display: inline-block;
		max-width: 100%;
		height: auto;
	}
}
.dfimgboxmob{
	img{
		display: inline-block;
		max-width: 100%;
		height: auto;
	}
}









@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.dfcaporigin{	
		font-size: 40px; //40		
		padding-top: 70px; //70		
	}
	.dfcaporigin2{		
		font-size: 18px; 	
		margin: 21px 0 40px 0;		
	}	
	.dforiginimg{		
		margin-left: -18px;		
	}
	.dfboxprice{		
		display: inline-block;
	}
	.dfboxprice2{		
		display: none;
	}
	.dfpriceblock{	
		padding-top: 40px;	
		text-align: left;
	}
	.dfboxgigs{
		padding: 15px 0 15px 7px;
	}
	.dfboxchar{		
		font-size: 18px;
	}
	.dfbottomtxt{		
		line-height: 52px;//52		
		margin: 0;
	}
	.df-button{		
		font-size: 24px;
	}

	/*==============credo*/
	.bgimg{
		background-image: url("../img/girl.png");
		background-repeat: no-repeat;
		background-position: bottom 25% right -20%;
	}
	.dfcapcredo{		
		font-size: 40px;	
		padding: 10px 0 30px 0;
	}
	.dfimgcredo{	 
	 	margin-bottom: 75px; 	
	}
	.dfcredoleftbox{	
		margin-right: 52px;
		h2{			
			font-size: 40px;		
		}
		h3{			
			font-size: 36px; 
			padding: 16px 0 65px 0;		
		}
		span{			
			font-size: 24px; 
			margin-bottom: 0px;		
		}
	}
	.dfrightboxform{		
		text-align: left;
	}
	.dfimgboxmob{
		display: none;
	}
	.dfimgbox2{	
		display: block;
	}

}

@media only screen and (min-width : 1248px) {
}
